openapi: 3.2.0
info:
  title: Openhandle Twitter API
  version: 1.1.0
  description: 'Operations tagged Twitter across 2 of this provider''s published API definitions: openhandle-openapi.json, openhandle-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.openhandle.dev
tags:
- name: Twitter
paths:
  /v1/twitter/lists/{identifier}/posts:
    get:
      description: Return the cursor-paginated timeline for a Twitter list. Test and Live use the same route, parameters, response schema, pagination, and errors. In Test, null means unavailable, not zero.
      operationId: twitterListPostsList
      parameters:
      - description: Public resource reference. Profile paths accept a username with an @ prefix, such as @openai, or the stable platform ID. Post paths accept the platform post ID or shortcode.
        example: '950000000005'
        in: path
        name: identifier
        required: true
        schema:
          minLength: 1
          type: string
      - description: Maximum accepted data age. The default is 24h.
        example: 24h
        in: query
        name: freshness
        required: false
        schema:
          default: 24h
          enum:
          - live
          - 24h
          - 7d
          - 30d
          type: string
      - description: Opaque cursor returned by the previous page.
        in: query
        name: cursor
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SuccessEnvelope'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/TwitterPost'
                      type: array
                  required:
                  - data
                  - meta
                  type: object
          description: A successful Test or Live response.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The locator, cursor, or query is invalid.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The API key is invalid.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Live billing does not permit this request.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The resource is private or workspace API access is security-suspended.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The resource does not exist.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The request rate limit was exceeded.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The request failed internally.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The service is temporarily unavailable.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
      security:
      - OpenhandleKey: []
      summary: List Twitter list posts
      tags:
      - Twitter
      x-openhandle-operation: twitter.list.posts.list
      x-openhandle-sdk:
        operation: list
        paginated: true
        path: twitter.list.posts.list
        scope:
        - name: twitter
        - name: list
          parameter: identifier
          reference: list
        - name: posts
      x-openhandle-test-data:
        catalogUrl: /v1/test-data?operation=twitter.list.posts.list
        contentHash: sha256:b5b99db8b0b9435d04d230483c54f5accfaa44dfa2cd12962a02e03739edfab0
        datasetVersion: 2026-09-07.2
        example:
          identifier: '950000000005'
    servers:
    - url: https://api.openhandle.dev
  /v1/twitter/posts/{identifier}:
    get:
      description: Get a post by a canonical platform identifier. URLs must be converted before calling a data endpoint. Test and Live use the same route, parameters, response schema, pagination, and errors. In Test, null means unavailable, not zero.
      operationId: twitterPostGet
      parameters:
      - description: Public resource reference. Profile paths accept a username with an @ prefix, such as @openai, or the stable platform ID. Post paths accept the platform post ID or shortcode.
        example: '940100000000000001'
        in: path
        name: identifier
        required: true
        schema:
          minLength: 1
          type: string
      - description: Maximum accepted data age. The default is 24h.
        example: 24h
        in: query
        name: freshness
        required: false
        schema:
          default: 24h
          enum:
          - live
          - 24h
          - 7d
          - 30d
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SuccessEnvelope'
                - properties:
                    data:
                      $ref: '#/components/schemas/TwitterPost'
                  required:
                  - data
                  type: object
          description: A successful Test or Live response.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The locator, cursor, or query is invalid.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The API key is invalid.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Live billing does not permit this request.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The resource is private or workspace API access is security-suspended.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The resource does not exist.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The request rate limit was exceeded.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The request failed internally.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The service is temporarily unavailable.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
      security:
      - OpenhandleKey: []
      summary: Get a post
      tags:
      - Twitter
      x-openhandle-operation: twitter.post.get
      x-openhandle-sdk:
        operation: get
        paginated: false
        path: twitter.post.get
        scope:
        - name: twitter
        - name: post
          parameter: identifier
          reference: post
      x-openhandle-test-data:
        catalogUrl: /v1/test-data?operation=twitter.post.get
        contentHash: sha256:b5b99db8b0b9435d04d230483c54f5accfaa44dfa2cd12962a02e03739edfab0
        datasetVersion: 2026-09-07.2
        example:
          identifier: '940100000000000001'
    servers:
    - url: https://api.openhandle.dev
  /v1/twitter/posts/{identifier}/comments:
    get:
      description: List post comments by a canonical platform identifier. URLs must be converted before calling a data endpoint. Test and Live use the same route, parameters, response schema, pagination, and errors. In Test, null means unavailable, not zero.
      operationId: twitterPostCommentsList
      parameters:
      - description: Public resource reference. Profile paths accept a username with an @ prefix, such as @openai, or the stable platform ID. Post paths accept the platform post ID or shortcode.
        example: '940100000000000001'
        in: path
        name: identifier
        required: true
        schema:
          minLength: 1
          type: string
      - description: Maximum accepted data age. The default is 24h.
        example: 24h
        in: query
        name: freshness
        required: false
        schema:
          default: 24h
          enum:
          - live
          - 24h
          - 7d
          - 30d
          type: string
      - description: Opaque cursor returned by the previous page.
        in: query
        name: cursor
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SuccessEnvelope'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/TwitterPost'
                      type: array
                  required:
                  - data
                  - meta
                  type: object
          description: A successful Test or Live response.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The locator, cursor, or query is invalid.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The API key is invalid.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Live billing does not permit this request.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The resource is private or workspace API access is security-suspended.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The resource does not exist.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The request rate limit was exceeded.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The request failed internally.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The service is temporarily unavailable.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
      security:
      - OpenhandleKey: []
      summary: List post comments
      tags:
      - Twitter
      x-openhandle-operation: twitter.post.comments.list
      x-openhandle-sdk:
        operation: list
        paginated: true
        path: twitter.post.comments.list
        scope:
        - name: twitter
        - name: post
          parameter: identifier
          reference: post
        - name: comments
      x-openhandle-test-data:
        catalogUrl: /v1/test-data?operation=twitter.post.comments.list
        contentHash: sha256:b5b99db8b0b9435d04d230483c54f5accfaa44dfa2cd12962a02e03739edfab0
        datasetVersion: 2026-09-07.2
        example:
          identifier: '940100000000000001'
    servers:
    - url: https://api.openhandle.dev
  /v1/twitter/posts/{identifier}/comments/{comment_id}/replies:
    get:
      description: Return a stable page of replies for one comment. Use find_test_data to discover compatible post and comment IDs. Test and Live use the same route, parameters, response schema, pagination, and errors. In Test, null means unavailable, not zero.
      operationId: twitterCommentRepliesList
      parameters:
      - description: Public resource reference. Profile paths accept a username with an @ prefix, such as @openai, or the stable platform ID. Post paths accept the platform post ID or shortcode.
        example: '940100000000000001'
        in: path
        name: identifier
        required: true
        schema:
          minLength: 1
          type: string
      - description: Opaque native comment ID.
        example: '940200000000000001'
        in: path
        name: comment_id
        required: true
        schema:
          minLength: 1
          type: string
      - description: Maximum accepted data age. The default is 24h.
        example: 24h
        in: query
        name: freshness
        required: false
        schema:
          default: 24h
          enum:
          - live
          - 24h
          - 7d
          - 30d
          type: string
      - description: Opaque cursor returned by the previous page.
        in: query
        name: cursor
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SuccessEnvelope'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/TwitterPost'
                      type: array
                  required:
                  - data
                  - meta
                  type: object
          description: A successful Test or Live response.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The locator, cursor, or query is invalid.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The API key is invalid.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Live billing does not permit this request.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The resource is private or workspace API access is security-suspended.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The resource does not exist.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The request rate limit was exceeded.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The request failed internally.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The service is temporarily unavailable.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
      security:
      - OpenhandleKey: []
      summary: List comment replies
      tags:
      - Twitter
      x-openhandle-operation: twitter.comment.replies.list
      x-openhandle-sdk:
        operation: list
        paginated: true
        path: twitter.post.comment.replies.list
        scope:
        - name: twitter
        - name: post
          parameter: identifier
          reference: post
        - name: comment
          parameter: comment_id
          reference: comment
        - name: replies
      x-openhandle-test-data:
        catalogUrl: /v1/test-data?operation=twitter.comment.replies.list
        contentHash: sha256:b5b99db8b0b9435d04d230483c54f5accfaa44dfa2cd12962a02e03739edfab0
        datasetVersion: 2026-09-07.2
        example:
          comment_id: '940200000000000001'
          identifier: '940100000000000001'
          post_id: '940100000000000001'
    servers:
    - url: https://api.openhandle.dev
  /v1/twitter/posts/{identifier}/reposters:
    get:
      description: Return public profiles that interacted with a Twitter post. Test and Live use the same route, parameters, response schema, pagination, and errors. In Test, null means unavailable, not zero.
      operationId: twitterPostRepostersList
      parameters:
      - description: Public resource reference. Profile paths accept a username with an @ prefix, such as @openai, or the stable platform ID. Post paths accept the platform post ID or shortcode.
        example: '940100000000000001'
        in: path
        name: identifier
        required: true
        schema:
          minLength: 1
          type: string
      - description: Maximum accepted data age. The default is 24h.
        example: 24h
        in: query
        name: freshness
        required: false
        schema:
          default: 24h
          enum:
          - live
          - 24h
          - 7d
          - 30d
          type: string
      - description: Opaque cursor returned by the previous page.
        in: query
        name: cursor
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SuccessEnvelope'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/TwitterProfile'
                      type: array
                  required:
                  - data
                  - meta
                  type: object
          description: A successful Test or Live response.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The locator, cursor, or query is invalid.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The API key is invalid.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Live billing does not permit this request.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The resource is private or workspace API access is security-suspended.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The resource does not exist.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
[...]
