openapi: 3.2.0
info:
  description: Read public social data through one API contract. API keys starting with oh_test_ use the deterministic synthetic dataset and record a $0.000 actual charge. Keys starting with oh_live_, plus legacy oh_ keys, use real public data and normal billing. Do not send an environment parameter or header.
  title: Openhandle Tiktok API
  version: 1.1.0
servers:
- url: https://api.openhandle.dev
tags:
- name: Tiktok
paths:
  /v1/tiktok/effects:
    get:
      description: Get effects in a batch from public Tiktok data. Test and Live use the same route, parameters, response schema, pagination, and errors. In Test, null means unavailable, not zero.
      operationId: Tiktok_effects_list
      parameters:
      - description: Comma-separated opaque native IDs.
        example: '950000000007'
        in: query
        name: ids
        required: true
        schema:
          minLength: 1
          type: string
      - description: Maximum accepted data age. The default is 24h.
        example: 24h
        in: query
        name: freshness
        required: false
        schema:
          default: 24h
          enum:
          - live
          - 24h
          - 7d
          - 30d
          type: string
      - description: Opaque cursor returned by the previous page.
        in: query
        name: cursor
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SuccessEnvelope'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/TikTokEffect'
                      type: array
                  required:
                  - data
                  - meta
                  type: object
          description: A successful Test or Live response.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The locator, cursor, or query is invalid.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The API key is invalid.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Live billing does not permit this request.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The resource is private or workspace API access is security-suspended.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The resource does not exist.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The request rate limit was exceeded.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The request failed internally.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The service is temporarily unavailable.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
      security:
      - OpenhandleKey: []
      summary: Get effects in a batch
      tags:
      - Tiktok
      x-openhandle-operation: tiktok.effects.list
      x-openhandle-sdk:
        operation: list
        paginated: true
        path: tiktok.effects.list
        scope:
        - name: tiktok
        - name: effects
      x-openhandle-test-data:
        catalogUrl: /v1/test-data?operation=tiktok.effects.list
        contentHash: sha256:b5b99db8b0b9435d04d230483c54f5accfaa44dfa2cd12962a02e03739edfab0
        datasetVersion: 2026-09-07.2
        example:
          category_id: '950000000008'
          comment: synthetic
          comment_id: '920200000000000001'
          ids: '950000000007'
          playlist_id: '950000000006'
          post_id: '920100000000000001'
          product_source_type: '0'
          query: synthetic
          rank_type: daily
          room_id: '950000000009'
          user_id: '920000000001'
  /v1/tiktok/effects/{identifier}:
    get:
      description: Get an effect from public Tiktok data. Test and Live use the same route, parameters, response schema, pagination, and errors. In Test, null means unavailable, not zero.
      operationId: Tiktok_effect_get
      parameters:
      - description: Public resource reference. Profile paths accept a username with an @ prefix, such as @openai, or the stable platform ID. Post paths accept the platform post ID or shortcode.
        example: '920100000000000001'
        in: path
        name: identifier
        required: true
        schema:
          minLength: 1
          type: string
      - description: Maximum accepted data age. The default is 24h.
        example: 24h
        in: query
        name: freshness
        required: false
        schema:
          default: 24h
          enum:
          - live
          - 24h
          - 7d
          - 30d
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SuccessEnvelope'
                - properties:
                    data:
                      $ref: '#/components/schemas/TikTokEffect'
                  required:
                  - data
                  type: object
          description: A successful Test or Live response.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The locator, cursor, or query is invalid.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The API key is invalid.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Live billing does not permit this request.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The resource is private or workspace API access is security-suspended.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The resource does not exist.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The request rate limit was exceeded.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The request failed internally.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The service is temporarily unavailable.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
      security:
      - OpenhandleKey: []
      summary: Get an effect
      tags:
      - Tiktok
      x-openhandle-operation: tiktok.effect.get
      x-openhandle-sdk:
        operation: get
        paginated: false
        path: tiktok.effect.get
        scope:
        - name: tiktok
        - name: effect
          parameter: identifier
          reference: effect
      x-openhandle-test-data:
        catalogUrl: /v1/test-data?operation=tiktok.effect.get
        contentHash: sha256:b5b99db8b0b9435d04d230483c54f5accfaa44dfa2cd12962a02e03739edfab0
        datasetVersion: 2026-09-07.2
        example:
          category_id: '950000000008'
          comment: synthetic
          comment_id: '920200000000000001'
          identifier: '920100000000000001'
          ids: '950000000007'
          playlist_id: '950000000006'
          post_id: '920100000000000001'
          product_source_type: '0'
          query: synthetic
          rank_type: daily
          room_id: '950000000009'
          user_id: '920000000001'
  /v1/tiktok/effects/{identifier}/posts:
    get:
      description: Return a cursor-paginated collection of TikTok posts that use an effect. Test and Live use the same route, parameters, response schema, pagination, and errors. In Test, null means unavailable, not zero.
      operationId: tiktokEffectPostsList
      parameters:
      - description: Public resource reference. Profile paths accept a username with an @ prefix, such as @openai, or the stable platform ID. Post paths accept the platform post ID or shortcode.
        example: '920100000000000001'
        in: path
        name: identifier
        required: true
        schema:
          minLength: 1
          type: string
      - description: Maximum accepted data age. The default is 24h.
        example: 24h
        in: query
        name: freshness
        required: false
        schema:
          default: 24h
          enum:
          - live
          - 24h
          - 7d
          - 30d
          type: string
      - description: Opaque cursor returned by the previous page.
        in: query
        name: cursor
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SuccessEnvelope'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/TikTokPost'
                      type: array
                  required:
                  - data
                  - meta
                  type: object
          description: A successful Test or Live response.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The locator, cursor, or query is invalid.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The API key is invalid.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Live billing does not permit this request.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The resource is private or workspace API access is security-suspended.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The resource does not exist.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The request rate limit was exceeded.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The request failed internally.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The service is temporarily unavailable.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
      security:
      - OpenhandleKey: []
      summary: List effect posts
      tags:
      - Tiktok
      x-openhandle-operation: tiktok.effect.posts.list
      x-openhandle-sdk:
        operation: list
        paginated: true
        path: tiktok.effect.posts.list
        scope:
        - name: tiktok
        - name: effect
          parameter: identifier
          reference: effect
        - name: posts
      x-openhandle-test-data:
        catalogUrl: /v1/test-data?operation=tiktok.effect.posts.list
        contentHash: sha256:b5b99db8b0b9435d04d230483c54f5accfaa44dfa2cd12962a02e03739edfab0
        datasetVersion: 2026-09-07.2
        example:
          identifier: '920100000000000001'
  /v1/tiktok/hashtags/{identifier}:
    get:
      description: Return one public hashtag by its native identifier. Test and Live use the same route, parameters, response schema, pagination, and errors. In Test, null means unavailable, not zero.
      operationId: tiktokHashtagGet
      parameters:
      - description: Public resource reference. Profile paths accept a username with an @ prefix, such as @openai, or the stable platform ID. Post paths accept the platform post ID or shortcode.
        example: '950000000001'
        in: path
        name: identifier
        required: true
        schema:
          minLength: 1
          type: string
      - description: Maximum accepted data age. The default is 24h.
        example: 24h
        in: query
        name: freshness
        required: false
        schema:
          default: 24h
          enum:
          - live
          - 24h
          - 7d
          - 30d
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SuccessEnvelope'
                - properties:
                    data:
                      $ref: '#/components/schemas/TikTokHashtag'
                  required:
                  - data
                  type: object
          description: A successful Test or Live response.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The locator, cursor, or query is invalid.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The API key is invalid.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Live billing does not permit this request.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The resource is private or workspace API access is security-suspended.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The resource does not exist.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The request rate limit was exceeded.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The request failed internally.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The service is temporarily unavailable.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
      security:
      - OpenhandleKey: []
      summary: Get a hashtag
      tags:
      - Tiktok
      x-openhandle-operation: tiktok.hashtag.get
      x-openhandle-sdk:
        operation: get
        paginated: false
        path: tiktok.hashtag.get
        scope:
        - name: tiktok
        - name: hashtag
          parameter: identifier
          reference: hashtag
      x-openhandle-test-data:
        catalogUrl: /v1/test-data?operation=tiktok.hashtag.get
        contentHash: sha256:b5b99db8b0b9435d04d230483c54f5accfaa44dfa2cd12962a02e03739edfab0
        datasetVersion: 2026-09-07.2
        example:
          identifier: '950000000001'
          query: synthetic
  /v1/tiktok/hashtags/{identifier}/posts:
    get:
      description: Return a cursor-paginated collection of public posts. Test and Live use the same route, parameters, response schema, pagination, and errors. In Test, null means unavailable, not zero.
      operationId: tiktokHashtagPostsList
      parameters:
      - description: Public resource reference. Profile paths accept a username with an @ prefix, such as @openai, or the stable platform ID. Post paths accept the platform post ID or shortcode.
        example: '950000000001'
        in: path
        name: identifier
        required: true
        schema:
          minLength: 1
          type: string
      - description: Maximum accepted data age. The default is 24h.
        example: 24h
        in: query
        name: freshness
        required: false
        schema:
          default: 24h
          enum:
          - live
          - 24h
          - 7d
          - 30d
          type: string
      - description: Opaque cursor returned by the previous page.
        in: query
        name: cursor
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SuccessEnvelope'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/TikTokPost'
                      type: array
                  required:
                  - data
                  - meta
                  type: object
          description: A successful Test or Live response.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The locator, cursor, or query is invalid.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The API key is invalid.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Live billing does not permit this request.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The resource is private or workspace API access is security-suspended.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying a throttled request. Present on 429 responses.
              example: '1'
              schema:
                type: string
            X-Request-ID:
              description: Stable request identifier.
              schema:
                type: string
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: The resource does not exist.
          headers:
            Openhandle-Billing-Disposition:
              description: Accounting disposition.
              schema:
                enum:
                - test
                - allowance
                - free
                - prepaid
                type: string
            Openhandle-Cost:
              description: Authoritative actual customer charge. Always 0.000 for Test.
              schema:
                type: string
            Openhandle-Dataset-Version:
              description: Synthetic dataset version. Present for Test.
              schema:
                type: string
            Openhandle-Environment:
              description: Environment selected by the API key.
              schema:
                enum:
                - test
                - live
                type: string
            Openhandle-List-Price:
              description: Live-equivalent list price.
              schema:
                type: string
            RateLimit:
              description: Remaining requests (r) and seconds until reset (t) for each evaluated policy. May be absent before authentication or when the limiter is unavailable.
              example: '"key";r=9;t=1, "organization";r=49;t=1'
              schema:
                type: string
            RateLimit-Policy:
              description: Quota policies for the evaluated limits. Present after rate-limit evaluation. Uses draft-ietf-httpapi-ratelimit-headers-11.
              example: '"key";q=10;w=1, "organization";q=50;w=1'
              schema:
                type: string
            Retry-After:
[...]
